{
    "data": {
        "train_text_file": "../sigmoid_part/emotion_part/data/data_temp_part/trec_train.txt",
        "validate_text_file": "../sigmoid_part/emotion_part/data/data_temp_part/trec_validate.txt",
        "test_text_file": "../sigmoid_part/emotion_part/data/data_temp_part/trec_test.txt",
        "tfrecord_dir": "tfrecord",
        "dict_dir": "../sigmoid_part/emotion_part/dict/part_dict",
        "shuffle_buffer": 1000000
    },
    "feature_common": {
        "feature_names": "token,char",
        "min_token_count": 0,
        "min_char_count": 2,
        "min_char_count_in_token": 0,
        "max_token_dict_size": 1000000,
        "max_char_dict_size": 150000,
        "max_char_in_token_dict_size": 1000000,
        "token_pretrained_embedding_file": "../sigmoid_part/emotion_part/pretrained_embedding/part_embed/token_vec_pre.txt",
        "char_pretrained_embedding_file": "../sigmoid_part/emotion_part/pretrained_embedding/part_embed/char_vec_pre.txt"
    },
    "fixed_len_feature": {
        "max_token_sequence_length": 56,
        "token_padding_begin": 0,
        "token_padding_end": 0,
        "max_char_length_per_token": 0,
        "char_padding_per_token_begin": 0,
        "char_padding_per_token_end": 0,
        "max_char_sequence_length": 512,
        "char_padding_begin": 0,
        "char_padding_end": 0
    },
    "var_len_feature": {
        "max_var_token_length": 1000,
        "max_var_char_length": 10000,
        "token_ngram": 1,
        "char_ngram": 1,
        "min_token_ngram_count": 2,
        "min_char_ngram_count": 2,
        "max_token_ngram_dict_size": 1000000,
        "max_char_ngram_dict_size": 2000000,
        "max_var_custom_feature_length": -1,
        "min_custom_feature_count": 2,
        "max_custom_feature_dict_size": 10000,
        "custom_feature_pretrained_embedding_file": ""
    },
    "train": {
        "batch_size": 256,
        "predict_batch_size": 4096,
        "eval_train_data": false,
        "learning_rate": 1.0,
        "num_epochs": 25,
        "num_epochs_static_embedding": 2,
        "decay_steps": 1000,
        "decay_rate": 1.0,
        "clip_gradients": 100.0,
        "l2_lambda": 0.0,
        "loss_type": "Softmax",
        "sampler": "fixed",
        "num_sampled": 5,
        "hidden_layer_dropout_keep_prob": 0.5,
        "visible_device_list": "0",
        "track_timeline": false
    },
    "optimizer": {
        "optimizer": "Adadelta",
        "adadelta_decay_rate": 0.95,
        "adadelta_epsilon": 1e-06
    },
    "embedding_layer": {
        "embedding_dimension": 200,
        "embedding_initializer": "uniform",
        "embedding_uniform_bound": 0.25,
        "embedding_random_stddev": 0.01,
        "embedding_dropout_keep_prob": 1.0
    },
    "model_common": {
        "model_type": "FastText",
        "checkpoint_dir": "checkpoint",
        "export_model_dir": "export_model",
        "activation": "none"
    },
    "log": {
        "logger_file": "log",
        "log_level": "info"
    },
    "FastText": {
    },
    "eval": {
        "threshold": 0.0,
        "eval_dir": "eval_dir",
        "is_flat": true,
        "batch_size": 128
    },
    "predict": {
        "model_tag": "serve",
        "model_dirs": ["../sigmoid_part/emotion_part/model_save/best"],
        "model_weights": [1]
    }
}
