absl-py==0.12.0
astor==0.8.1
attrs==20.3.0
auto-tune @ file:///root/selfgz2117732756/fwkacllib/lib64/auto_tune-0.1.0-py3-none-any.whl
backcall==0.2.0
beautifulsoup4==4.9.3
blis==0.7.4
boto3==1.17.48
botocore==1.20.48
Bottleneck==1.3.2
cached-property==1.5.2
cachetools==4.2.1
catalogue==2.0.3
certifi==2020.12.5
cffi==1.12.3
chardet==4.0.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
configparser==5.0.2
cycler==0.10.0
cymem==2.0.5
Cython==0.29.22
decorator==4.4.2
deprecation==2.1.0
dill==0.3.4
docker-pycreds==0.4.0
easydict==1.9
et-xmlfile==1.1.0
fastai==1.0.51
fastprogress==1.0.0
ffmpeg-python==0.2.0
Flask==2.0.1
future==0.18.2
gast==0.2.2
gitdb==4.0.7
GitPython==3.1.14
gnureadline==8.0.0
google-auth==1.28.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
graphviz==0.16
grpcio==1.32.0
h5py==2.8.0
hccl @ file:///root/selfgz2117732756/fwkacllib/lib64/hccl-0.1.0-py3-none-any.whl
humanfriendly==9.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==3.8.0
importlib-resources==5.1.4
install==1.3.4
ipython==7.24.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.1
matplotlib-inline==0.1.2
mock==4.0.3
moviepy==1.0.3
mpmath==1.2.1
murmurhash==1.0.5
networkx==2.5.1
nltk==3.6.2
npu-bridge @ file:///root/selfgz18736732232/tfplugin/bin/npu_bridge-1.15.0-py3-none-any.whl
npu-device @ file:///root/selfgz18736732232/tfplugin/bin/npu_device-0.1-py3-none-any.whl
numexpr==2.7.3
numpy==1.19.3
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
onnx==1.9.0
opencv-python @ file:///root/opencv_python-4.5.1.48-cp37-cp37m-manylinux2014_aarch64.whl
openpyxl==3.0.7
opt-einsum==3.3.0
overload==1.1
packaging==20.9
pandas==1.1.5
parso==0.8.2
pathlib2==2.3.5
pathtools==0.1.2
pathy==0.4.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.1
preshed==3.0.5
proglog==0.1.9
progressbar==2.5
promise==2.3
prompt-toolkit==3.0.18
protobuf==3.15.6
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.7.3
Pygments==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rich==10.1.0
rsa==4.7.2
s3transfer==0.3.6
sacremoses==0.0.44
schedule-search @ file:///root/selfgz2117732756/fwkacllib/lib64/schedule_search-0.1.0-py3-none-any.whl
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.2
sentencepiece==0.1.95
sentry-sdk==1.0.0
shortuuid==1.0.1
six==1.15.0
sk-video==1.1.10
sklearn==0.0
smart-open==3.0.0
smmap==4.0.0
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.2
srsly==2.4.1
subprocess32==3.5.4
sympy==1.4
tables==3.6.1
tb-nightly==2.5.0a20210408
te @ file:///root/selfgz2117732756/fwkacllib/lib64/te-0.4.0-py3-none-any.whl
tensorboard==1.15.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorboardX==1.6
tensorflow @ file:///root/wubo/tensorflow-1.15.0-cp37-cp37m-linux_aarch64.whl
tensorflow-datasets==3.2.1
tensorflow-estimator==1.15.1
tensorflow-metadata==1.1.0
termcolor==1.1.0
thinc==8.0.2
threadpoolctl==2.1.0
thulac==0.2.1
tifffile==2021.6.14
tkintertable==1.3.3
tokenizers==0.10.2
topi @ file:///root/selfgz2117732756/fwkacllib/lib64/topi-0.4.0-py3-none-any.whl
torch @ file:///root/wubo/pytorch/dist/torch-1.5.0%2Bascend.post2-cp37-cp37m-linux_aarch64.whl
torchfile==0.1.0
torchvision==0.2.2.post3
tqdm==4.60.0
traitlets==5.0.5
transformers==2.1.1
typer==0.3.2
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
wandb==0.10.26
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1
xlrd==1.2.0
yacs==0.1.8
youtube-dl==2021.4.17
zipp==3.4.1
