absl-py==0.13.0
addict==2.4.0
antlr4-python3-runtime==4.8
appdirs==1.4.4
argon2-cffi==21.1.0
asn1crypto==0.24.0
astor==0.8.1
async-generator==1.10
attrs==21.2.0
Automat==0.6.0
av==8.0.3
backcall==0.2.0
black==21.4b2
bleach==4.1.0
blender==1.4
blinker==1.4
botocore==1.21.34
cached-property==1.5.2
certifi==2018.1.18
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.4
click==8.0.1
cloud-init==21.2
cloudpickle==1.6.0
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
coverage==6.0.1
cryptography==2.1.4
cycler==0.10.0
Cython==0.29.24
dataclasses==0.8
decorator==5.1.0
defusedxml==0.7.1
detectron2==0.5
dill==0.3.4
distro==1.6.0
distro-info===0.18ubuntu0.18.04.1
entrypoints==0.3
et-xmlfile==1.1.0
ffmpeg==1.4
filelock==3.0.12
future==0.18.2
fvcore==0.1.5.post20210804
gast==0.5.0
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grpcio==1.38.1
h5py==3.1.0
httplib2==0.9.2
huggingface-hub==0.0.8
hydra-core==1.1.0
hyperlink==17.3.1
idna==2.6
importlib-metadata==4.6.1
importlib-resources==5.2.2
incremental==16.10.1
iniconfig==1.1.1
iopath==0.1.9
ipykernel==5.5.6
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==2.10
jmespath==0.10.0
joblib==1.0.1
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
language-selector==0.1
libcst==0.3.19
llvmlite==0.31.0
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==1.0
matplotlib==3.3.4
mistune==0.8.4
mmcv==1.3.10
mmpycocotools==12.0.3
msgpack==1.0.2
msgpack-numpy==0.4.7.1
mypy-extensions==0.4.3
nbclient==0.5.4
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
nltk==3.6.2
notebook==6.4.4
numpy==1.19.5
oauthlib==2.0.6
omegaconf==2.1.0
opencv-python==4.5.3.56
openpyxl==3.0.7
packaging==21.0
PAM==0.4.2
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.2
pathspec==0.8.1
pexpect==4.2.1
pickleshare==0.7.5
Pillow==8.3.1
pluggy==1.0.0
portalocker==2.3.0
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
pubmed-parser==0.3.0
py==1.10.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycocotools==2.0.2
pycparser==2.20
pycrypto==2.6.1
pydot==1.4.2
Pygments==2.10.0
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.4.7
pyserial==3.4
pytest==6.2.5
pytest-cov==3.0.0
python-apt==1.6.5+ubuntu0.6
python-dateutil==2.8.1
python-debian==0.1.32
pytz==2021.1
pyxdg==0.25
PyYAML==5.4.1
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.11.2
regex==2021.8.3
requests==2.26.0
requests-unixsocket==0.1.5
s3transfer==0.3.7
sacremoses==0.0.45
scikit-build==0.11.1
scikit-learn==0.24.2
scipy==1.5.4
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
Send2Trash==1.8.0
sentence-transformers==2.0.0
sentencepiece==0.1.96
seqeval==1.2.2
service-identity==16.0.0
setproctitle==1.2.2
SimpleITK==2.1.1
simplejson==3.17.5
six==1.11.0
sklearn==0.0
slowfast==1.0
sos==4.1
sox==1.4.1
ssh-import-id==5.7
systemd-python==234
tabulate==0.8.9
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-datasets==2.1.0
tensorflow-estimator==1.14.0
tensorflow-metadata==1.2.0
tensorpack==0.11
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==2.2.0
tkintertable==1.3.3
tokenizers==0.10.3
toml==0.10.2
tomli==1.2.1
torch==1.5.0
torchaudio==0.9.0
torchlights==1.0
torchtext==0.5.0
torchvision==0.10.0
tornado==6.1
tqdm==4.61.2
traitlets==4.3.3
transformers==4.6.0
Twisted==17.9.0
typed-ast==1.4.3
typing-extensions==3.10.0.0
typing-inspect==0.7.1
ubuntu-advantage-tools==27.2
ufw==0.36
unattended-upgrades==0.1
Unidecode==1.3.2
urllib3==1.26.6
virtualenv==15.1.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xkit==0.0.0
xlrd==1.2.0
yacs==0.1.8
yapf==0.31.0
zipp==3.5.0
zope.interface==4.3.2
