absl-py==0.13.0
astor==0.8.1
cached-property==1.5.2
certifi==2021.5.30
colorama==0.4.4
freeze==0.0.1
gast==0.2.2
google-pasta==0.2.0
grpcio==1.39.0
h5py==3.3.0
importlib-metadata==4.6.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
msgpack==1.0.2
msgpack-numpy==0.4.7.1
numpy==1.21.2
opencv-python==4.5.3.56
opt-einsum==3.3.0
protobuf==3.17.3
psutil==5.8.0
python==3.7.11
pyzmq==22.2.1
six==1.16.0
tabulate==0.8.9
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
tensorpack==0.11
termcolor==1.1.0
tqdm==4.62.1
typing-extensions==3.10.0.0
Werkzeug==2.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.5.0
