# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\School\ZJU\ModelZoo-TensorFlow\TensorFlow\contrib\cv\SYMNET_ID1292_for_Tensorflow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
